<html>
    <body>
        <h3>Hi ${user.firstName}, ${user.lastName}, welcome to the Chipping Sodbury On-the-Hill message boards!</h3>

        <div>
            Your email address is <a href="mailto:${user.mail}">${user.mail}</a>.
        </div>
    </body>
</html>